.container
{
    background-color: rgb(36, 169, 214);
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* flex-direction:column; */
}
.box
{
    background-color: rgb(236, 244, 5);
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    font-size:20px;
    text-align: center;
}